<mat-card class="example-card relative hover:shadow-xl shadow-sm transition duration-300 ease-in-out transform hover:-translate-y-1"
  [ngClass]="{
    'enproceso': task.advance !== 100 && obtenerFechaAvance(task.enddate) === 2,
    'porvencer': task.advance !== 100 && obtenerFechaAvance(task.enddate) === 3,
    'vencido': obtenerFechaAvance(task.enddate) === 1,
    'completado': task.advance === 100
  }">
  <mat-card-header>
    <mat-card-title>{{ task.taskname }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ task.taskdescription }}</p>
  </mat-card-content>
  <div class="absolute right-0 bottom-0 p-3 cursor-pointer">
    <button [routerLink]="['/task-details/' + task.taskid]" mat-flat-button color="primary">Ver detalles</button>
  </div>
</mat-card>
