<button (click)="goBack()" mat-raised-button color="primary" class="text-white p-2 mb-8">
  Volver
</button>
<div class="w-full bg-white flex justify-between gap-3 p-4 border-b mb-3">
  <div class="w-1/3 flex gap-3">
    <div class="flex items-center gap-2">
      <div class="bg-blue-200 rounded-full w-4 h-4 text-transparent">.</div>
      <span>En Proceso</span>
    </div>
    <div class="flex items-center gap-2">
      <div class="bg-yellow-300 rounded-full w-4 h-4 text-transparent">.</div>
      <span>Por Vencer</span>
    </div>
    <div class="flex items-center gap-2">
      <div class="bg-red-500 rounded-full w-4 h-4 text-transparent">.</div>
      <span>Vencido</span>
    </div>
    <div class="flex items-center gap-2">
      <div class="bg-green-500 rounded-full w-4 h-4 text-transparent">.</div>
      <span>Completo</span>
    </div>
  </div>

  <div class="flex gap-3">
    <button (click)="openDialog('0ms', '0ms')" mat-raised-button color="primary" class="text-white p-2">
      Nueva Tarea
    </button>
    <button
      (click)="changeGantt()"
      mat-raised-button
      color="accent"
      class="text-white p-2"
    >
      > @if (showGantt) {
      <span>Timeline</span>
      }@else {
      <span>Gantt</span>
      }
    </button>
  </div>
</div>

@if (meses) {
<div class="flex h-full w-full m-auto">
  <div>
    <table class="calendario">
      <tr>
        <th>Tareas</th>
        <th>%Avance</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
      </tr>
      @if(dataTasks$ | async; as data){ @for (tareas of data; track $index) {
      <tr>
        <td class="border">
          <a
            [routerLink]="['/task-details/' + tareas.taskid]"
            class="cursor-pointer hover:text-blue-500"
            >{{ tareas.taskname }}</a
          >
        </td>
        <td
          class="border font-bold text-black"
          [ngClass]="{ 'text-white': obtenerFechaAvance(tareas.enddate) === 1 }"
          [style.backgroundColor]="
            tareas.advance === 100
              ? '#53C65F'
              : obtenerFechaAvance(tareas.enddate) === 1
              ? '#EF4444'
              : obtenerFechaAvance(tareas.enddate) === 2
              ? '#BFDBFE'
              : 'yellow'
          "
        >
          {{ tareas.advance }}%
        </td>
      </tr>

      } }
    </table>
  </div>

  @if (!showGantt) {
  <div class="bg-white overflow-x-scroll w-[100%] h-full">
    <table class="calendario">
      <tr>
        @for (mes of meses; track $index) {
        <th [colSpan]="mes.dias.length">
          {{ mes.nombre | uppercase }}
        </th>
        }
      </tr>
      <tr class="bg-slate-100 overflow-hidden">
        @for (mes of meses; track $index) { @for (dia of mes.dias; track $index)
        {
        <td class="bg-slate-200">
          <div class="overflow-visible w-[10px]">
            <span class="text-[10px]">{{ dia }}</span>
          </div>
        </td>
        } }
      </tr>
      @if(dataTasks$ |async; as data){ @for (tarea of data; track $index) {
      <tr class="relative overflow-hidden">
        @for (mes of meses; track $index) { @for (dia of mes.dias; track $index)
        {
        <!-- barra de dias -->
        <td class="bg-white">
          @if (getMonthFromDate(tarea.startdate) === mes.numero) { @if ($index
          +1 === obtenerDia(tarea.startdate)) {
          <div
            [style.backgroundColor]="tarea.color"
            class="bg-red-500 absolute h-5 rounded-lg top-1 overflow-hidden text-slate-800 text-sm"
            [style.width.px]="
              obtenerCantidadDias(tarea.startdate, tarea.enddate) * 26.6
            "
            style="box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.2)"
          >
            del
            {{ $index + 1 }}
            al
            {{ obtenerDia(tarea.enddate) }}
          </div>
          } }
        </td>
        } }
      </tr>
      } }
    </table>
  </div>
  }@else {
  <div class="bg-white overflow-x-scroll w-[100%] h-full">
    <table class="calendarioGantt">
      <tr>
        @for (mes of meses; track $index) {
        <th [colSpan]="mes.dias.length">
          {{ mes.nombre | uppercase }}
        </th>
        }
      </tr>
      <tr class="bg-slate-100 overflow-hidden">
        @for (mes of meses; track $index) { @for (dia of mes.dias; track $index)
        {
        <td class="bg-slate-200 w-1">
          <div class="overflow-visible w-1"></div>
        </td>
        } }
      </tr>
      @if(dataTasks$ |async; as data){ @for (tarea of data; track $index) {
      <tr class="relative overflow-hidden">
        @for (mes of meses; track $index) { @for (dia of mes.dias; track $index)
        {
        <td
          class="bg-white"
          [ngClass]="{ 'border-r': dia === mes.dias.length }"
        >
          @if (getMonthFromDate(tarea.startdate) === mes.numero) { @if ($index
          +1 === obtenerDia(tarea.startdate)) {
          <div
            [style.backgroundColor]="tarea.color"
            class="bg-red-500 absolute h-3 rounded-sm top-1 overflow-hidden text-slate-800 text-sm"
            [style.width.px]="
              obtenerCantidadDias(tarea.startdate, tarea.enddate) * 13
            "
            style="box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.2)"
          ></div>
          } }
        </td>
        } }
      </tr>
      } }
    </table>
  </div>
  }
</div>
}
