@if ($tarea | async ; as tarea){
<div class="flex flex-col md:flex-row gap-3 rounded-xl h-1/2 bg-slate-50">
  <div class="flex-1">
    <div class="bg-white h-full border rounded-xl p-2 flex flex-col shadow-sm">
      <div class="border-b">
        <span class="font-bold">{{ tarea.taskname }}</span>
      </div>
      <div class="border-b py-2 mb-2">
        <span>{{ tarea.taskdescription }}</span>
      </div>
      <div class="flex flex-col gap-3 justify-start">
        <div class="flex gap-4 items-center">
          <strong>Fecha de Inicio: </strong>
          <span class="bg-blue-100 text-gray-950 rounded-lg px-2 py-1">{{ formatDate(tarea.startdate) }}</span>
        </div>
        <div class="flex gap-4 items-center">
          <strong>Fecha de fin de tarea: </strong>
          <span class="bg-blue-100 text-gray-950 rounded-lg px-2 py-1">{{ formatDate(tarea.enddate) }}</span>
        </div>
        <div class="flex gap-4 items-center">
          <strong>Estado de la tarea: </strong>
          <span class="bg-green-100 text-gray-950 rounded-lg px-2 py-1">{{
            tarea.state
          }}</span>
        </div>
        <div class="flex gap-4 items-center">
          <strong>Avance de la tarea: </strong>
          <span class="bg-green-100 text-gray-950 rounded-lg px-2 py-1">{{ formatPercentage(tarea.advance || 0) }}</span>
        </div>
      </div>
      <div class="w-full mt-16 items-center flex justify-center">
        <div class="w-1/2 flex gap-8 items-center">
          <button mat-raised-button color="primary" (click)="sendCompleted(idTarea)" [disabled]="tarea.state === 'Completada' || tarea.state === 'Elaboración'" >
            Tarea Completada
          </button>
          <button mat-raised-button color="accent" (click)="sendDeclined(idTarea)"  [disabled]="tarea.state === 'Observación'">
            Enviar para observación
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

}
